<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Category</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Update Category</h1>
        
        <!-- Update Category Form -->
        <div class="card mb-4">
            <div class="card-header">
                Update Category
            </div>
            <div class="card-body">
                <form th:action="@{/editcategory/{id}(id=${category.id})}" th:object="${category}" method="post">
                    <div class="form-group">
                        <label for="updateCategoryName">Category Name:</label>
                        <input type="text" class="form-control" id="updateCategoryName" th:field="*{categoryName}" placeholder="Enter updated category name">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Category</button>
                </form>
            </div>
        </div>        
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
